* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    background-image: url('bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.menu-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-item {
    background-color: rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: large;
    margin: 50px;
}
